<div class="login-info">
</div>
<nav>
	<ul>
		<li data-ng-class="{active: topPath =='mail'}">
			<a href="#mail">
				<i class="fa fa-fw fa-inbox"></i>
				<span class="menu-item-parent"> Mail </span>
				<span>
					<span class="badge pull-right inbox-badge ng-scope">14</span>
				</span>
			</a>
		</li>
		<li data-ng-class="{active: topPath =='compose'}">
			<a href="#compose">
				<i class="fa fa-fw fa-pencil"></i>
				<span class="menu-item-parent"> Compose </span>
				<span>
					<span class="badge pull-right inbox-badge ng-scope"></span>
				</span>
			</a>
		</li>
		<li data-ng-class="{active: topPath =='settings'}">
			<a href="#settings">
				<i class="fa fa-fw fa-gear"></i>
				<span class="menu-item-parent"> Settings </span>
				<span>
					<span class="badge pull-right inbox-badge ng-scope"></span>
				</span>
			</a>
		</li>
	</ul>
</nav>
<span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>