<span class="ribbon-button-alignment" style='cursor:pointer;'>
	<span class="hidden-xs">
		<a href="/submitBug" style='color:#EEEEEE;' target="_blank"><i class="fa fa-bug fa-lg"></i> Report bug</a>
		&nbsp;&nbsp;
		<a href="/submitBug" style='color:#EEEEEE;'target="_blank"><i class="fa fa-envelope fa-lg"></i> Invite Friends (4)</a>
	</span>
	<span class="visible-xs">
		<a href="/submitBug" target="_blank"><i class="fa fa-bug fa-lg"></i> Report bug</a>
		&nbsp;&nbsp;
		<a href="/submitBug" target="_blank"><i class="fa fa-envelope fa-lg"></i> Invite Friends (4)</a>
	</span>
</span>